SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteEngine on

#RewriteCond %{HTTP:Authorization} ^(.*)
#RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]


RewriteRule ^$ public/ [L]

RewriteCond %{REQUEST_URI} !(^/\.well-known/)
RewriteRule (.*) public/$1 [L]
