{% extends "top.html" %}

{% block content %}
<style>
</style>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-7 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
				<h1>Best-selling EV scooter</h1>
				<br /><br />
				<img src="assets/img/big-logo.png" class="mb-3" style="width: 80%;">
				<h2>Running lightly through the town</h2>
				<div class="d-flex justify-content-center justify-content-start slogan">
					<!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
					<!-- <a href="https://www.youtube.com/watch?v=eff2yzfldqg" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->

					洗練されたデザイン<br/>
					日本独自の厳しい安全基準をクリア<br/>
					航空アルミボディ採用による高い剛性<br/>
					高性能サスペンションによる振動軽減<br/><br/>
					幅広いステップによる安定した乗り心地<br/>
					風を切って走る楽しさと爽快感<br/>
					デザイン性、安全性、走行性全てへのこだわり<br/><br/>
					それが「AIR SHIP」という新しいモビリティの最高傑作<br/>
					楽しさの先に見える実用的な未来の移動手段<br/>

					<br />
				</div>
			</div>
			<div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
				<img src="assets/img/header.jpg" class="img-fluid " alt="" style="width:90%;margin-top:20px;">
			</div>
		</div>
	</div>

</section><!-- End Hero -->

<main id="main">

	<section class="section-bg">
		<div class="container" data-aos="zoom-in">

			<div class="row">

				<div class="col-lg-6 align-items-stretch order-1 order-lg-1 d-flex flex-column">
					<div class="pic"><img src="assets/img/kick.jpg" class="img-fluid" alt=""></div>
					<!-- <div class="flex-fill img" style='background-image: url("assets/img/kick_in_car.jpg");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div> -->
				</div>

				<div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-2">
					<div class="pic"><img src="assets/img/kick_persion.jpg" class="img-fluid" alt=""></div>
					<!-- <div class="flex-fill img" style='background-image: url("assets/img/kick_in_car.jpg");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div> -->

				</div>

			</div>
		</div>
	</section>

	<!-- ======= Team Section ======= -->
	<section id="team" class="team section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>AIRSHIPの特徴</h2>
				<p></p>
			</div>

			<div class="row">

				<div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
					<div class="member d-flex align-items-start">
						<div class="pic col-md-8 col-6"><img src="assets/img/meter.jpg" class="img-fluid" alt=""></div>
						<div class="member-info col-md-4 col-6">
							<h4></h4>
							<span>見易いデジタルメーター</span>
							<p>
								視認性の高いデジタルメーターを採用しています。<br/>
								そのため走行時の速度確認や電池残量の確認も感覚的に認識する事ができます。
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="member d-flex align-items-start">
						<div class="pic col-md-8 col-6"><img src="assets/img/back.jpg" class="img-fluid" alt=""></div>
						<div class="member-info col-md-4 col-6">
							<h4></h4>
							<span>安心のタイヤ性能</span>
							<p>
								エアータイヤに耐パンク及び滑り防止加工を採用しています。<br/>
								高い耐久性も備わっているので長い期間安心して走行することが出来ます。
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
					<div class="member d-flex align-items-start">
						<div class="pic col-md-8 col-6"><img src="assets/img/fold-walking.jpg" class="img-fluid" alt=""></div>
						<div class="member-info col-md-4 col-6">
							<h4></h4>
							<span>折りたたみ可能</span>
							<p>
								ハンドル部の根本にある赤いレバーを操作することで簡単に車体をコンパクトに折りたたむことができます。<br />
								(※サドル付きタイプも折りたたみ可能)
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
					<div class="member d-flex align-items-start">
						<div class="pic col-md-8 col-6"><img src="assets/img/eco.jpg" class="img-fluid" alt=""></div>
						<div class="member-info col-md-4 col-6">
							<h4></h4>
							<span>電動低コスト&ECO</span>
							<p>
								電動なので低コスト!
								排気ガスもゼロなので環境に優しい次世代の移動手段です。
							</p>
						</div>
					</div>
				</div>

				<!-- <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
					<div class="member d-flex align-items-start">
						<div class="pic col-12"><img src="assets/img/speed-light123.jpg" class="img-fluid" alt=""></div>
					</div>
				</div> -->

				<!-- <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
					<div class="member d-flex align-items-start">
						<div class="pic col-12"><img src="assets/img/adapter.jpg" class="img-fluid" alt=""></div>
					</div>
				</div>				 -->

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
					<div class="member d-flex align-items-start">
						<div class="pic col-md-8 col-6"><img src="assets/img/speed-light.jpg" class="img-fluid" alt=""></div>
						<div class="member-info col-md-4 col-6">
							<h4></h4>
							<span>最高速度表示灯</span>
							<p>
								特定小型原動機付自転車に該当する電動キックボードが時速制限6km以下・最高速度表示灯の点滅で、歩道走行できます。
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
					<div class="member d-flex align-items-start">
						<div class="pic col-md-8 col-6"><img src="assets/img/adapter.jpg" class="img-fluid" alt=""></div>
						<div class="member-info col-md-4 col-6">
							<h4></h4>
							<span>ひし形PSEマーク</span>
							<p>
								AIRSHIPの充電アダプターは、届出が義務つけられているひし形PSEマークを取得しております。
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Team Section -->


	<!-- ======= Why Us Section ======= -->
	<!-- <section id="why-us" class="why-us">
		<div class="container-fluid" data-aos="fade-up">

			<div class="row">

				<div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-lg-1">

					<div class="content section-title">
						<h2>AIRSHIPの特徴</h2>
						<p>

						</p>
					</div>

					<div class="accordion-list secbk">
						<ul>
							<li>
								<a>
									<span>01</span> 安全性 <i class="bx bx-chevron-down icon-show"></i></a>
								<div id="accordion-list-3" class="collapse show" data-bs-parent=".accordion-list">
									<p>
										<i class="ri-checkbox-circle-line"></i>前後車輪ダブルサスペンション<br />
										<i class="ri-checkbox-circle-line"></i>前後ディスクブレーキ、濡れても制動力が低下しにくい<br />
										<i class="ri-checkbox-circle-line"></i>LEDヘッドライト、最高スピード表示灯装備<br />
									</p>
								</div>
							</li>

							<li>
								<a>
									<span>02</span> 使い勝手 <i class="bx bx-chevron-down icon-show"></i></a>
								<div id="accordion-list-2" class="collapse show" data-bs-parent=".accordion-list">
									<p>
										<i class="ri-checkbox-circle-line"></i>見やすい液晶ディスプレイ、バッテリー残量、走行スピード、走行距離など一目で確認できます<br />
										<i class="ri-checkbox-circle-line"></i>電源を入れて、レバーを押すだけで運転できます<br />
										<i class="ri-checkbox-circle-line"></i>ハンドルブレーキの使い方は自転車と同じような操作感<br />
									</p>
								</div>
							</li>

							<li>
								<a>
									<span>05</span> 大容量リチウムバッテリー <i class="bx bx-chevron-down icon-show"></i></a>
								<div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
									<p>
										<i class="ri-checkbox-circle-line"></i>バッテリー容量：10.4Ah<br />
										<i class="ri-checkbox-circle-line"></i>3.5時間充電で、最長走行距離約40km
									</p>
								</div>
							</li>							

						</ul>
					</div>
				</div>

				<div class="col-lg-6 align-items-stretch order-lg-2 d-flex flex-column">

					<div class="flex-fill img" style='background-image: url("assets/img/grassland.jpg");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
				</div>

			</div>

		</div>
	</section> -->
	<!-- End Why Us Section -->

	<section class="why-us section-bg">
		<div class="container-fluid" data-aos="fade-up">

			<div class="row">

				<div class="col-lg-6 align-items-stretch order-2 order-lg-1 d-flex flex-column">

					<div class="pic"><img src="assets/img/grassland.jpg" class="img-fluid" alt=""></div>
				</div>

				<div class="col-lg-6 d-flex flex-column justify-content-center align-items-stretch  order-1 order-lg-2">


					<div class="accordion-list">
						<ul>
							<li>
								<a>
									<span></span> 安全性 <i class="bx bx-chevron-down icon-show"></i></a>
								<div id="accordion-list-3" class="collapse show" data-bs-parent=".accordion-list">
									<p>
										<i class="ri-checkbox-circle-line"></i>前後車輪ダブルサスペンション<br />
										<i class="ri-checkbox-circle-line"></i>前後ディスクブレーキ、濡れても制動力が低下しにくい<br />
									</p>
								</div>
							</li>

							<li>
								<a>
									<span></span> 二つの走行モード <i class="bx bx-chevron-down icon-show"></i></a>
								<div id="accordion-list-2" class="collapse show" data-bs-parent=".accordion-list">
									<p>
										<i class="ri-checkbox-circle-line"></i>ECOモード：最高速度6km/h<br />
										<i class="ri-checkbox-circle-line"></i>HIGHモード：最高速度20km/h
									</p>
								</div>
							</li>

							<li>
								<a>
									<span></span> 大容量リチウムバッテリー <i class="bx bx-chevron-down icon-show"></i></a>
								<div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
									<p>
										<i class="ri-checkbox-circle-line"></i>バッテリー容量：10.4Ah<br />
										<i class="ri-checkbox-circle-line"></i>3.5時間充電で、最長走行距離約40km
									</p>
								</div>
							</li>


						</ul>
					</div>
				</div>

			</div>
		</div>
	</section><!-- End Why Us Section -->



	<!-- ======= About Us Section ======= -->
	<section id="about" class="about" style="background-image: url('assets/img/section-bk-dark.jpg'); background-size: cover;">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>交通ルール</h2>
			</div>

			<div class="row content justify-content-evenly align-items-stretch">

				<div class="col-10 col-lg-5 box">
					<p class="fw-bold">改正道路交通法(令和5年7月1日以降)</p>
					<p>
						令和5年7月1日から原動機付自転車の一類型である「特定小型原動機付自転車」が創設され、AIRSHIPがそれに該当します。
						運転免許不要等の新しい交通ルールが適用されることとなります。
					</p>
					<ul>
						<li><i class="ri-check-double-line"></i> 16歳以上で、運転免許が不要</li>
						<li><i class="ri-check-double-line"></i> ナンバープレート必須</li>
						<li><i class="ri-check-double-line"></i> 自賠責保険（共済）の契約必須 </li>
						<li><i class="ri-check-double-line"></i> 車道・歩道走行可能 </li>
					</ul>
					<p>
					</p>
				</div>
				<div class="col-10 col-lg-5 mt-2 mt-lg-0 box">
					<p class="fw-bold">　</p>
					<p>
						エコーモード(最高速度6km/h)に切り替えると、本製品が「特例特定小型原動機付自転車」にも該当します。
					</p>
					<ul>
						<li><i class="ri-check-double-line"></i> 時速6Km/h以下で、歩道を通行することができます(条件付き)</li>
						<li><i class="ri-check-double-line"></i> 最高速度表示灯を点滅させること</li>
					</ul>
					<p>
						警視庁ホームページ -<a target="_blank" href="https://www.keishicho.metro.tokyo.lg.jp/kotsu/jikoboshi/electric_mobility/electric_kickboard.html">『 特定小型原動機付自転車』</a>
					</p>
				</div>
			</div>

		</div>
	</section><!-- End About Us Section -->


	<!-- ======= Services Section ======= -->
	<!-- <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspici</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

        </div>

      </div>
    </section> -->
	<!-- End Services Section -->

	<!-- ======= Cta Section ======= -->
	<section id="cta" class="cta" >
		<div class="container" data-aos="zoom-in">

			<div class="row">
				<div class="col-md-7 text-center text-lg-start">
				  <h3>販売代理店募集中</h3>
				  <br/>
				  <p> 
					Email：info@air-ship.jp<br/>
					TEL：092-624-3316<br/>
				  </p>
				</div>
				<div class="col-md-5 cta-btn-container text-center">
				  <a class="cta-btn align-middle" href="#contact-form">問い合わせフォーム</a>
				</div>
			  </div>

		</div>
	</section>
	<!-- End Cta Section -->


	<!-- ======= Pricing Section ======= -->
	<section id="pricing" class="pricing section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>製品一覧</h2>
				<p>

				</p>
			</div>

			<div class="row justify-content-center">

				<div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
					<div class="box featured">
						<h3>AS-L19 light</h3>
						<h4>
							<div class="pic"><img src="assets/img/kick_no_saddle.png" class="img-fluid" alt=""></div>
						</h4>
						<h4><sup>￥</sup>158,000<span>(+消費税)</span></h4>
						<ul>
							<li><i class="bx bx-check"></i> 10.4Ah大容量リチウムバッテリー</li>
							<li><i class="bx bx-check"></i> 前後ダブルサスペンション</li>
							<li><i class="bx bx-check"></i> デュアルディスクブレーキ</li>
							<li class="na"><i class="bx bx-x"></i> <span>サドル付き</span></li>
						</ul>
						<a href="product-detail" class="buy-btn">詳細</a>
					</div>
				</div>

				<div class="col-lg-5 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
					<div class="box featured">
						<h3>AS-L19</h3>
						<h4>
							<div class="pic"><img src="assets/img/hero-img.png" class="img-fluid" alt=""></div>
						</h4>
						<h4><sup>￥</sup>168,000<span>(+消費税)</span></h4>
						<ul>
							<li><i class="bx bx-check"></i> 10.4Ah大容量リチウムバッテリー</li>
							<li><i class="bx bx-check"></i> 前後ダブルサスペンション</li>
							<li><i class="bx bx-check"></i> デュアルディスクブレーキ</li>
							<li><i class="bx bx-check"></i> サドル付き</li>
						</ul>
						<a href="product-detail" class="buy-btn">詳細</a>
					</div>
				</div>
			</div>

		</div>
	</section><!-- End Pricing Section -->

	<!-- ======= Frequently Asked Questions Section ======= -->
	<section id="faq" class="faq" style="background-image: url('assets/img/section-bk-dark.jpg'); background-size: cover;">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>よくある質問</h2>
				<p>

				</p>
			</div>

			<div class="faq-list">
				<ul>
					<li data-aos="fade-up" data-aos-delay="100">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse title" data-bs-target="#faq-list-1"> どういった製品保証がされていますか? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
						<div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
							<!-- <p>本製品の保証期間は商品発送日より1年間です。<br/>
								但し、下記のパーツは商品発送日より６ヶ月になります。<br/>
								<span style="font-size:14px;font-weight: bold;">
								ヘッドライト、ウインカーランプ、テールランプ、ウインカー、ナンバー灯、最高速度表示灯、警音器、バックミラー、
								クラクション、デジタルメーター、アクセルレバー。
								</span>
							</p> -->
							<p>
								本製品の保証期間はお買い上げ日より１年間です。<br/>
								<a href="product-detail#guarantee">詳細はこちら</a>
							</p>
						</div>
					</li>

					<li data-aos="fade-up" data-aos-delay="200">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed title"> 保安部品はついていますか? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
						<div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
							<p>
								盗難防止　ディスクロック（別売り）
							</p>
						</div>
					</li>

					<!-- <li data-aos="fade-up" data-aos-delay="300">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">最高速度・最長航続距離はどのくらいですか？一度の充電でどのくらい走りますか? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
						<div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
							<p>
								準備中...
							</p>
						</div>
					</li> -->

					<li data-aos="fade-up" data-aos-delay="400">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed title"> 注文方法について <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
						<div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
							<p>
								電話：092-624-3316、Fax：092-510-7369、Email：info@air-ship.jp　のいずれの方法で弊社の営業担当者に連絡してください。
							</p>
						</div>
					</li>

					<li data-aos="fade-up" data-aos-delay="500">
						<i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed title"> 発送方法・運送料はどのようになっていますか？ <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
						<div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
							<p>
								送料は全国一律4500円（税込）です。<br/>
								（但し、北海道・沖縄離島へのお届けの場合、別途送料が必要です。）<br/>
								<a href="product-detail#ship">詳細はこちら</a>
							</p>
						</div>
					</li>

				</ul>
			</div>

		</div>
	</section><!-- End Frequently Asked Questions Section -->

	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>問い合わせ</h2>
				<p>

				</p>
			</div>

			<div class="row">

				<div class="col-lg-5 d-flex align-items-stretch">
					<div class="info">
						<div class="address">
							<i class="bi bi-geo-alt"></i>
							<h4>住所:</h4>
							<p>福岡県福岡市東区他の津１丁目４－２－２Ｆ</p>
						</div>

						<div class="email">
							<i class="bi bi-envelope"></i>
							<h4>Email:</h4>
							<p>info@air-ship.jp</p>
						</div>

						<div class="phone">
							<i class="bi bi-phone"></i>
							<h4>TEL:</h4>
							<p>092-624-3316</p>
							<h4>FAX:</h4>
							<p>092-510-7369</p>
						</div>

						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3322.147166443134!2d130.443993223669!3d33.62742597263074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35418fa495a72dc3%3A0xbc78e74d0ddb4e3!2s1-ch%C5%8Dme-4-2%20Tanotsu%2C%20Higashi%20Ward%2C%20Fukuoka%2C%20813-0034!5e0!3m2!1sen!2sjp!4v1686485330946!5m2!1sen!2sjp" frameborder="0" style="border:0; width: 100%; height: 290px;" loading="lazy" allowfullscreen></iframe>
					</div>

				</div>

				<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" id="contact-form">
					<form action="/contact" method="post" role="form" class="php-email-form">
						<div class="row">
							<div class="form-group col-md-6">
								<label for="name">お名前</label>
								<input type="text" name="name" class="form-control" id="name" required>
							</div>
							<div class="form-group col-md-6">
								<label for="name">Email</label>
								<input type="email" class="form-control" name="email" id="email" required>
							</div>
						</div>
						<div class="form-group">
							<label for="name">タイトル</label>
							<input type="text" class="form-control" name="subject" id="subject" required>
						</div>
						<div class="form-group">
							<label for="name">本文</label>
							<textarea class="form-control" name="message" rows="10" required></textarea>
						</div>
						<div class="my-3">
							<div class="loading">Loading</div>
							<div class="error-message">送信失敗しました。お手数ですが、info@air-ship.jpに送信してください。</div>
							<div class="sent-message">送信しました. </div>
						</div>
						<div class="text-center"><button type="submit">送信</button></div>
					</form>
				</div>

			</div>

		</div>
	</section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}

{% block script %}

{% endblock %}