{% extends "top.html" %}


{% block content %}
<main id="main">

	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="container">

			<ol>
				<li><a href="/">Home</a></li>
				<li>個人情報取り扱いについて</li>
			</ol>

			<h2></h2>
		</div>
	</section>
	<!-- End Breadcrumbs -->


	<section id="portfolio-details" class="portfolio-details">
		<div class="container article">
			<h6 class="ttl-h6">個人情報取り扱いについて</h6>
			<p>
			　　弊社では、かねてよりお客様の個人情報を保護すべく、弊社個人情報保護方針に基づき、社内体制を整備し、運用実施を行ってまいりました。
			2023年 7月より施行されました個人情報保護法に基づき、株式会社AIRSHIPではお客様の個人情報がプライバシーを構成する重要な情報である事を深く認識し、お客様の個人情報の適切な取り扱いを行ってまいります。<br>
			</p>

			<h6 class="ttl-h6">個人情報の提供について</h6>
			<p>
			　　弊社で収集したお客さまの個人情報について、第三者に提供する事はありません。
			</p>

			<h6 class="ttl-h6">お客様個人情報の預託・委託について</h6>
			<p>
			　　弊社は、お客様からご提供頂きました個人情報を上記目的の範囲内において適切に個人情報を保護できる預託または委託先（弊社と個人情報保護に関する契約を締結している預託または委託先）にお客様個人情報を預託または委託する場合がございます。
			</p>

			<h6 class="ttl-h6">個人情報のお問合わせに関する窓口について</h6>
			<p>
			　　• お客様よりお預かり頂いた個人情報はご本人様からご要望がある場合、即開示を行います。<br>
			　　• また、お預かり頂いた個人情報に不備があった場合、お客様は弊社に訂正、削除の要求を行うことが可能です。<br>
			　　弊社では個人情報のお問い合わせ先を設置いたしましたので、ご質問のある場合、下記のお問い合わせ先にご連絡下さい。
		</p>
			</p>
		</div>
	</section>
</main>
{% endblock %}


{% block script %}
$('#header').addClass('header-inner-pages');

{% endblock %}